@page "/counter"
@rendermode InteractiveServer

<PageTitle>Snake Game</PageTitle>

<h1>Snake Game</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }

}
