@page "/"

<PageTitle>CS 3500 Starter Code for Chatting Project</PageTitle>

<h1> Networking is Fun!</h1>
<p> Computing is Fun</p>
<p> Coding is Fun</p>
<p> Blazor is Fun</p>
<p> Chatting is Fun</p>
<p> CS 3500 is Fun</p>
<p> Enjoy your project!</p>

<p> Make sure you watched the setup video!</p>